@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
.footer {
  background: #9100b7;
  margin-top: 250px;
}
.company_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #ffffff;
}
.footer_txt {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.links {
  padding: 0px 0px;
  justify-content: center;
}
.footer_content {
  padding: 0 90px;
  position: relative;
  bottom: 70px;
}
.navbar_list {
  display: inline-block;
  padding: 0px 15px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.035em;
  color: #ffffff;
}
.navbar_list:hover {
  text-decoration: underline;
}

.contact_card {
  background-image: url("../../assets/HomePage/contact.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  bottom: 200px;
  width: 1200px;
}
.contactcard_des {
  margin-left: 140px;
}
.CALL {
  color: #8d1fa8;
  margin-top: -6px;
}
.callicon {
  cursor: pointer;
}
.contactcard_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
}
.contactcard_address {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}
.contactcard_addr {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

.contactus_btn {
  border-color: #8d1fa8 !important;
  background: #8d1fa8 !important;
  border-radius: 70px;
  padding: 8px 30px;
  margin-bottom: 20px;
  position: relative;
  bottom: 20px;
}
@media only screen and (max-width: 1280px) {
  .contactcard_title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1058px) {
  .company_title {
    font-size: 25px;
  }
  .contactcard_title {
    font-size: 26px;
    margin-top: 20px !important;
  }
  .contactcard_address {
    font-size: 13px;
    line-height: 18px;
  }
  .contactcard_addr {
    font-size: 13px;
    line-height: 18px;
  }
  .contactcard_tit {
    font-size: 19px;
  }
  .contactus_btn {
    padding: 7px 25px;
  }
  .footer_txt {
    font-size: 17px;
  }
  .navbar_list {
    padding: 0 10px;
    font-size: 17px;
  }
  .footer_content {
    padding: 0 40px;
  }
  .contactcard_des {
    margin-left: 130px;
  }
  .dealer {
    margin-top: 0px !important;
  }
}
@media only screen and (max-width: 940px) {
  .contactcard_des {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .contact_card {
    background-size: 140% 150%;
  }
  .footer_txt {
    padding: 0px 0px;
    text-align: center;
  }
  .company_title {
    text-align: center;
  }
  .footer_content {
    position: relative;
    bottom: 80px;
  }
  .navbar_list {
    text-align: center;
    padding: 10px 20px;
    margin-top: 0px !important;
  }
  .link {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
  }

  .contactus_btn {
    position: relative;
    bottom: 0px;
  }
  .contactcard_address {
    font-size: 12px;
  }
  .contactcard_addr {
    font-size: 12px;
  }
  .contactcard_des {
    margin-left: 20px;
  }
  .call_no {
    font-size: 13px;
  }
  .CALL {
    font-size: 19px !important;
  }
 
}

@media only screen and (max-width: 590px) {
  .contactcard_title {
    font-size: 23px;
    margin-top: 0px !important;
    position: relative;
    top: 25px;
  }
  .contactcard_tit {
    font-size: 17px;
    padding-top: 25px !important;
  }
  .contactcard_address {
    font-size: 10px;
    position: relative;
    top: 10px;
    margin-top: 0px !important;
    margin-bottom: 20px;
    line-height: 12px;
  }
  .contactcard_addr {
    font-size: 11px;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .callicon1 {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .contactcard_des {
    padding: 0px 0px;
  }
  .company_title {
    font-size: 23px;
  }
  .navbar_list {
    font-size: 14px;
  }
  .contactus_btn {
    padding: 5px 20px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 493px) {
  
.contactus_btn{
  position: relative;
  bottom: 20px;
  padding: 4px 15px;
  font-size: 12px;
}
.contactcard_title{
  font-size: 21px;
}
.contactcard_address{
  font-size: 7px;
  font-weight: 500;
  line-height: 10px;
}
.contactcard_addr{
  font-size: 7px;
  font-weight: 500;
  line-height: 10px;

}
.contactcard_tit{
  font-size: 15px;
  padding-top: 27px !important;

  
}
.call_no{
  font-size: 10px;
}
.CALL{
  font-size: 14px!important;
}
.callicon1{
  margin-top: 12px!important;
}
.contactcard_des{
  position: relative;
  top: 5px;
}
.dealer{
  position: relative;
  top: 5px;
}
  .footer_txt {
    font-size: 14px;
    line-height: 20px;
  }
  .company_title {
    font-size: 17px;
  }

  .navbar_list {
    padding: 8px 6px;
    font-size: 10px;
    margin-left: 0px!important;
  }

  .footer_content {
    position: relative;
    bottom: 110px;
  }
  
}

@media only screen and (max-width: 395px) {
  
  .contactcard_address{
    font-size: 6px;
  }
  .contactcard_title{
    font-size: 17px;
  }
  .contactcard_tit{
    font-size: 13px;
  }
  .navbar_list {
    font-size: 10px;
  }
 .contact_card{
  background-size: 150% 150%;
 }
 
}
