@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

.Navbar {
  background-image: url("../../assets/HomePage/homepage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: fit-content;
}

.NAVBAR {
  max-width: 2200px;
}

.container {
  max-width: 1600px;
  padding: 0 0;
}
.Nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.logo {
  color: white;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18.2836px;
  line-height: 22px;
  text-transform: uppercase;
}

.inquiry_btn {
  border-radius: 32px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14.2636px;
  line-height: 17px;
  background-color: #ffffff;
  padding: 10px 20px;
  color: black;
}

.inquiry_btn:hover {
  color: black;
}
.homepage_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 129%;
  color: #ffffff;
  text-transform: uppercase;
}

.inputbase {
  padding: 10px 70px;
  background-color: #ffffff;
  border-radius: 32px;
}
.search_icon {
  color: #ffffff;
}
.iconbutton {
  background-color: #8d1fa8 !important;
}
/* menulist */
.menu > li,
.menu > a {
  display: inline-block;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  transition: background-color 0.22s ease, color 0.22s ease;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: white;
}

.menu li {
  position: relative;
}
.submenu {
  position: absolute;
  width: 180px;
  left: -20px;
  right: 0;
  display: none;
  padding: 10px 0px;
  border-top: 2px #8d1fa8;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px -2px 8px rgba(255, 255, 255, 0.53);
  border-radius: 11px;
}
.submenu li {
  list-style: none;
}

.submenu a {
  color: #7a7979;
  font-size: 12px;
  padding: 5px 5px;
}
.menu li:hover > .submenu {
  display: block;
}

.submenu_2 {
  position: absolute;
  left: 182px;
  top: 0;
  display: none;
  overflow-x: hidden;
  width: 110%;
  background: #ffffff;
  box-shadow: 0px -2px 8px rgba(255, 255, 255, 0.53);
  border-radius: 11px;
}
.submenu_2 a {
  color: #7a7979;
  font-size: 13px;
}
.submenu_2 li {
  padding: 1px 0px;
  margin-left: -20px;
}
.menu li:hover > .submenu_2 {
  display: block;
}
.submenu a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 10px;
  background-color: #8d1fa8 !important;
  transition: 0.6s ease-in-out;
}
.submenu a:hover:after {
  width: 90%;
}

.menu a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0px;
  left: 10px;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}
.menu .contacttrans {
  padding: 2px 20px;
}

.menu a:hover:after {
  width: 90%;
}
/* card */
.card {
  background: #ffffff;
  box-shadow: inset 0px 4px 36px rgba(226, 114, 255, 0.38);
  border-radius: 28px;
  width: 70%;
  margin-bottom: 40px;
  border: none;
}
.card:hover .latest_txt {
  text-decoration: underline;
}
.megaphone {
  height: 150px;
}
.megaphone_txt {
  height: 35px;
  background: #9100b7;
  color: #ffffff;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}
.latest_txt {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 15px;
}

.cards {
  padding-top: 30px;
}

.cards_row {
  margin: 0 0;
  padding: 0 0;
  --bs-gutter-x: 0em;
}

/* mobile_navbar */
.menu_icon {
  color: #ffffff;
}
.topnavbar {
  background-color: #ffffff;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  width: 100%;
}

.sub-menu {
  background-color: #8d1fa8;
  color: #ffffff;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;
  width: 100%;
  box-shadow: 0px -2px 8px rgba(255, 255, 255, 0.53);
}
.topnavbar.open {
  height: 470px;
  overflow-y: scroll;
}
.nav-item span {
  display: flex;
  justify-content: end;
  text-align: end;
}
.menuopenicon {
  position: absolute;
  bottom: 160px;
  font-size: 36px !important;
  color: #9100b7;
}

.menuopenicon {
  color: #9100b7;
}
.sub-menu.open {
  height: 180px;
}
.menuopen_icon {
  transform: rotate(180deg);
}

.topnavbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.submenu-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.submenu-link {
  display: block;
  color: #ffffff !important;
  padding: 25px 20px;
  text-decoration: none;
  transition: background-color 0.22s ease, color 0.22s ease;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
}

.nav-link {
  display: block;
  color: #9100b7 !important;
  padding: 35px 20px;
  text-decoration: none;
  transition: background-color 0.22s ease, color 0.22s ease;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  margin-top: 30px;
}
.nav-link:hover {
  text-decoration: underline;
}
/* search */

.search {
  max-width: 380px;
}
.search_autocomplete {
  position: absolute;
  /* top:490px;
  left: 500px; */
  cursor: pointer;
  z-index: 2;
  width: 200px;
  max-width: 200px;
  background-color: #ffffff;
  padding: 5px 0px;
  border-radius: 12px;
  box-shadow: 0px -2px 8px rgba(255, 255, 255, 0.53);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.search_autocomplete.arrow-top:after {
  content: " ";
  position: absolute;
  right: 110px;
  top: -9px;
  border-top: none;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  border-bottom: 11px solid white;
}
.inputbase .css-yz9k0d-MuiInputBase-input {
  padding: 4px 10px !important;
  position: relative;
  right: 50px;
}
.search_list {
  font-weight: 300;
  font-size: 13px;
  list-style-type: none;
  cursor: pointer;
  text-align: start;
  line-height: 40px;
  font-family: "Rubik";
  color: #272727;
  padding-left: 10px;
}
.search_item {
  margin: 0px !important;
  padding: 0 0;
}
.search_list:hover {
  background: rgba(249, 223, 255, 0.18);
}

@media only screen and (max-width: 1177px) {
  .menu a {
    font-size: 16px;
    padding: 20px 15px;
  }
  .submenu a {
    font-size: 12px;
    padding: 5px 0px;
  }
  .submenu_2 a {
    font-size: 12px;
  }
  .menu {
    margin-top: 11px !important;
  }

  .inquiry_btn {
    margin-left: 0px !important;
    font-size: 12px;
  }
  .logo {
    font-size: 16px;
  }
  .card {
    width: 85%;
  }
  .card {
    margin-left: 20px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .homepage_menu {
    margin-left: 0px !important;
  }
  .card {
    width: 90%;
  }
  .latest_txt {
    font-size: 18px;
  }
  .cards {
    padding: 30px 60px;
  }
  .homepage_title {
    font-size: 38px;
  }
  .Navbar {
    background-image: url("../../assets/HomePage/homepage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: fit-content;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .dropdown {
    position: absolute;
    right: 150px;
  }
  .homepage_title {
    font-size: 30px;
  }
  .card {
    width: 100%;
    margin-left: 0px !important;
  }
  .card_gap {
    --bs-gutter-x: 1em;
  }
  .cards {
    padding: 30px 30px;
  }
  .latest_txt {
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  .homepage_title {
    font-size: 23px;
    margin-top: 0px !important;
    padding-top: 40px!important;
  }
  .megaphone{
    height: 100px;
  }
  .latest_img {
    width: 70px;
    margin-top: 20px !important;
  }
  .latest_img1 {
    width: 60px;
  }
  .latest_img2 {
    width: 50px;
  }
  .card {
    height: 130px;
    margin-bottom: 20px;
  }
  .cards {
    padding: 10px 10px;
  }
  
  .latest_txt {
    font-size: 11px;
    margin-top: 0px;
  }
  .logo {
    font-size: 14px;
  }
  .iconbtn {
    margin-right: 0px !important;
  }
  .search {
    margin-top: 20px !important;
  }
  .card_gap{
    margin-top: 30px!important;
  }
}
@media only screen and (max-width: 395px) {
  .homepage_title {
    font-size: 19px;
    margin-top: 20px !important;
  }
  .inputbase {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .search_icon {
    font-size: 17px !important;
  }
  .latest_txt {
    font-size: 9px;
  }
  .card {
    height: 110px;
  }
  .latest_img {
    margin-top: 10px !important;
    width: 60px;
  }
  .latest_img1 {
    margin-top: 15px !important;
    width: 50px;
  }
  .latest_img2 {
    margin-top: 12px !important;
    width: 40px;
  }

  .menu_icon {
    font-size: 30px !important;
  }
  .megaphone{
    height: 80px;
  }
}

@media only screen and (max-width: 320px) {
  .logo {
    font-size: 12px;
    line-height: 15px;
  }
  .menu_icon {
    font-size: 25px !important;
  }
  .homepage_title {
    font-size: 16px;
    line-height: 25px;
  }
  .cards {
    padding: 10px 0px;
  }
}
