.Nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.Logo {
  color:#384D4B;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18.2836px;
  line-height: 22px;
  text-transform: uppercase;
}
a {
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
}

.Inquiry_btn:hover {
  color: rgb(250, 249, 249);
  text-decoration: none; 

}

.Inquiry_btn {
  border-radius: 32px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14.2636px;
  line-height: 17px;
  background-color:#384D4B;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none; /* Ensure no underline by default */
  outline: none;
  border: none;
  cursor: pointer;
}
.Menu li.no-line::after {
  display: none;
}
.Menu > li,
.Menu > a {
  display: inline-block;
}
.Menu a {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  transition: background-color 0.22s ease, color 0.22s ease;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color:#384D4B;
}

.Menu li {
  position: relative;
}
.SubMenu {
  position: absolute;
  left: 38%; /* Centers the submenu horizontally based on the parent */
  transform: translateX(-50%); /* Shifts the submenu left by 50% of its width */
  display: none; /* Initially hidden */
  padding: 10px 0; /* Adjust padding as necessary */
  width: 200px; /* Define a specific width */
  border-top: 2px #384D4B;
  background: #384D4B;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); /* Soft shadow for better visibility */
  border-radius: 8px;
  z-index: 99;
}
.SubMenu li {
  list-style: none;
}

.SubMenu a {
  display: block;

  color: #ffffff;
  padding: 6px 0px; /* Adjust padding to ensure uniform spacing */
  font-size: 14px;
  text-align: center;
}
.Menu li:hover > .SubMenu {
  display: block;
}

.Submenu_2 {
  width: 200px; /* Define a specific width */

  position: absolute;
  top: 0;
  left: 103%; /* Aligns next submenu to the right of the first submenu */
  display: none; /* Hidden by default */
  padding: 10px;
  background: #384D4B;
  box-shadow: 0px -2px 8px rgba(255, 255, 255, 0.53);
  border-radius: 11px;
}
.Submenu_2 a {
  display: block;

  color: #ffffff;
  padding: 5px;
  font-size: 13px;
}
.Submenu_2 li {
  padding: 6px 0px;
}
.Menu li:hover > .Submenu_2 {
  display: block;
}
.SubMenu li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 12px;
  left: 10px;
  background-color: #ffffff !important;
  transition: 0.6s ease-in-out;
}
.SubMenu a:hover:after {
  width: 100%;
}

.Menu li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 12px;
  left:50%;
  background-color:#384D4B;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);

}
.Menu .Contacttrans {
  padding: 2px 20px;
}

.Menu li:hover:after {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
/* mobiloe navbar */

.Menu_icon {
  color: #384D4B;
}
.Topnavbar {
  background-color: #384D4B;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  width: 100%;
}

.sub-Menu {
  background-color: #ffffff;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;
  width: 100%;
  box-shadow: 0px -2px 8px rgba(255, 255, 255, 0.53);
}
.Topnavbar.open {
  height: 470px;
  overflow-y: scroll;
}
.nav-item span {
  display: flex;
  justify-content:flex-end;
  text-align: end;
}
.Menuopenicon {
  position: absolute;
  bottom: 160px;
  font-size: 36px !important;
  color: #ffffff;
}

.sub-Menu.open {
  height: 175px;
}
.menuopen_icon {
  transform: rotate(180deg);
}

.topnavbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.subMenu-item {
  list-style-type: none;
 
}
.Submenu-link {
  display: block;
  color: #384D4B!important;
  padding: 15px 20px;
  text-decoration: none;
  transition: background-color 0.22s ease, color 0.22s ease;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}

.Nav-link {
  display: block;
  color: #ffffff !important;
  padding: 35px 20px;
  text-decoration: none;
  transition: background-color 0.22s ease, color 0.22s ease;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  margin-top: 30px;
}

.Nav-link:hover {
  text-decoration: underline;
}



@media only screen and (max-width: 1177px) {
  .Menu a {
    font-size: 16px;
    padding: 20px 15px;
  }
  .SubMenu a {
    font-size: 12px;
    padding: 5px 0px;
  }
  .Submenu_2 a {
    font-size: 12px;
  }
  .names {
    font-size: 13px;
  }

  .Inquiry_btn {
    margin-left: 0px !important;
    font-size: 12px;
  }
  .Logo {
    font-size: 16px;
  }
}

@media only screen and (max-width: 395px) {
  .Logo {
    font-size: 13px;
    line-height: 16px;
  }
  .Menu_icon {
    font-size: 23px !important;
  }
}
@media only screen and (max-width: 300px) {
  .Logo {
    font-size: 11px;
    line-height: 13px;
  }
}
