@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.ourproducts {
  padding: 20px 150px;
}
.product_title {
  color: #8d1fa8;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 129%;
}
.zoom-img {
  transition: transform .3s; /* add a transition for the zoom effect */
}

.zoom-img:hover {
  transform: scale(0.9); /* zoom in by 20% when hovering over the image */
}
.img-container {
  position: relative; /* necessary for absolute positioning of the text */
}
.hover-text {
  position: absolute; /* position the text on top of the image */
  top: 50%; /* center the text vertically */
  left: 50%; /* center the text horizontally */
  transform: translate(-50%, -50%); /* adjust the position of the text */
  background-color: transparent; /* give the text a semi-transparent black background */
  padding: 10px 10px; /* add some padding to the text */
  border-radius: 5px; /* give the text rounded corners */
  visibility: hidden; /* hide the text by default */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  cursor: pointer;
  width: 80%;
}

.hover-text:hover{
  text-decoration: underline;
}
.img-container:hover .hover-text {
  visibility: visible; /* show the text when hovering over the image */
  color: #8d1fa8;
}
.img-container:hover img {
  opacity: 0.3;
  background-color: rgb(18, 18, 18, 0.2);
}

@media only screen and (max-width: 1479px) {
  .pimg_3 {
    margin-bottom: 26px !important;
  }
.ourproducts{
  padding: 20px 40px!important;
}
}
@media only screen and (max-width: 1250px) {
  .img_1{
    margin-bottom: 0px!important;
  }
  .zoom-img{
    width: 250px;
  }
  .pimg_2{
    padding-left: 15px;
   }
}
@media only screen and (max-width: 1190px) {
  .ourproducts {
    padding: 20px 80px!important;
  }
  .pimg_2{
   padding-left: 15px;
  }
  .hover-text{
    font-size: 18px;
  }
  
}
@media only screen and (max-width: 1050px) {
  .ourproducts {
    padding: 20px 30px!important;
  }
 
  
}

@media only screen and (max-width: 1000px) {
  .ourproducts {
    padding: 20px 50px;
  }
 
}
@media only screen and (max-width: 945px) {
  
  .ourproducts{
    padding: 20px 40px!important;
  }
  .product_img{
    margin-left: 0px!important;
  }
  .pimg_3{
    margin-left: 10px!important;
  }
  .hover-text{
    font-size: 14px;
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 700px) {
  .pimg_2{
    padding-left: 12px!important;
  }
  .pimg_3{
    margin-bottom: 25px!important;
  }
}
@media only screen and (max-width: 570px) {
  .pimg_2{
    padding-left: 10px!important;
  }
  .pimg_3{
    margin-bottom: 22px!important;
  }
  .hover-text{
    font-size: 12px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 460px) {
  .pimg_2{
    padding-left: 8px!important;
  }
  .pimg_3{
    margin-bottom: 21px!important;
  }
}

@media only screen and (max-width: 425px) {
  .ourproducts {
    padding: 0px 20px;
    margin-top: 30px!important;
  }
 
  .product_title {
    font-size: 33px;
  }
  .pimg_2{
    padding-left: 6.5px!important;
    margin-top: 0px!important;
  }
  .img_1{
    margin-bottom: 0px!important;
  }
  .pimg_1{
    margin-bottom: 0px!important;
    padding-top: 7px!important;
  }
  .pimg_3{
    margin-bottom: 8px!important;
  }
  .txt1{
    margin-left: 10px!important;
  }
}
@media only screen and (max-width: 370px) {
  .pimg_2{
    padding-left: 6px!important;
  }
  .hover-text{
    font-size: 11px;
    line-height: 16px;
    width: 90%;
  }
}

@media only screen and (max-width: 310px) {
  .product_title {
    font-size: 24px;
  }
}
